{% extends "admin/base_site.html" %}

{% block title %}
    {{ current_day|date:"l, j F Y" }}
    {{ block.super }}
{% endblock %}

{% block header %}{{ current_day|date:"l, j F Y" }}{% endblock %}



{% block content %}
<ul class="quick_links">
	<li><a href="/time/{{ previous_day }}/">Previous day</a></li>
	<li>|</li>
	<li><a href="/time/{{ current_day|date:"Y-m-d" }}/0-24/">24 hour view</a></li>
	<li>|</li>
	<li><a href="/time/">Today</a></li>
	<li>|</li>
	<li><a href="/time/{{next_day}}/">Next day</a></li>
</ul>
<div class="time_list" id="time_list">
	<ul>
	{% for time_item in time_list %}
		<li style="top: {{ time_item.display_info.percentage_position }}%; height: {{ time_item.display_info.percentage_height }}%;"
		title="Start: {% if time_item.display_info.also_yesterday %}{{ time_item.start|date:"Y-m-d" }} {% endif %}{{ time_item.start|date:"h:i a" }}, End: {% if time_item.display_info.also_tomorrow %}{{ time_item.end|date:"Y-m-d" }} {% endif %}{{ time_item.end|date:"h:i a" }}">
			{{ time_item }}
			<a href="/projectmanager/projecttime/{{ time_item.id }}/">edit</a>
		</li>
	{% endfor %}
	</ul>
	
	<div class="dividers">
		{% for divider in hour_dividers %}
		<div class="hour {% cycle '' 'alt' %}" style="top: {{ divider.percentage_position }}%"><span>{{ divider.time }}</span></div>
		{% endfor %}
	</div>
	
</div>

<form action="{{ request.get_full_path }}" method="post">
<fieldset class="form" id="add_time">
	<table border="0" cellpadding="0" cellspacing="0">
		{{ time_form.as_table }}
		<tr>
			<th>&nbsp;</th>
			<td><input type="submit" value="Submit"></td>
		</tr>
	</table>
</fieldset>
</form>

<script type="text/javascript" src="/media/projectmanager/js/time.js"></script>
<script type="text/javascript">
time_init({'start_hour' : {{ start_hour }}, 'end_hour' : {{ end_hour }}, 'current_day' : '{{ current_day|date:"Y-m-d" }}', 'snap_hours' : '{{ snap_hours }}' });
</script>

{% endblock %}


