{% extends "base.html" %}

{% block title %}
    Calendar
    {{ super() }}
{% endblock %}

{% block header %}{{ current_day|date("l, j F Y") }}{% endblock %}



{% block content %}
<div id='loading' style='display:none'>loading...</div>
<div id="calendar">
</div>

<div id="add_time_overlay"></div>
<form action="{{ request.get_full_path }}" method="post" class="addtime">
<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
<div><input type="hidden" id="id_id" name="id" value="0" /></div>
<fieldset class="form" id="add_time">
	<table border="0" cellpadding="0" cellspacing="0">
		{{ time_form.as_table }}
		<tr>
			<th>&nbsp;</th>
			<td><input type="submit" value="Submit" id="add_time_submit"><input type="button" value="Cancel" id="add_time_cancel" /></td>
		</tr>
	</table>
<a href="{{ url('admin:projectmanager_projecttime_delete', 0) }}" class="delete">Delete entry</a>
</fieldset>
</form>

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}projectmanager/css/fullcalendar.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}projectmanager/css/fullcalendar.print.css" media="print" />
<script type="text/javascript">
var PROJECTMANAGER_URLS = {
  TASK_DATA: '{{ url('projectmanager.views.project_task_data') }}',
  PROJECT_TIME_LIST: '{{ url('projectmanager.views.api_project_time_list') }}',
  PROJECT_TIME_MOVE: '{{ url('projectmanager.views.api_project_time_move') }}',
  PROJECT_TIME_ADD: '{{ url('projectmanager.views.api_project_time_add') }}',
  PROJECT_TIME_EDIT: '{{ url('projectmanager.views.api_project_time_edit') }}'
};
</script>
<script type="text/javascript" src="{{ STATIC_URL }}projectmanager/js/lib/jquery-1.5.2.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}projectmanager/js/lib/jquery-ui-1.8.11.custom.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}projectmanager/js/lib/fullcalendar.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}projectmanager/js/calendar.js"></script>

<style type="text/css">

  #loading {
    position: absolute;
    top: 2px;
    right: 2px;
    background-color: #c00;
    z-index: 1100;
    padding: 3px 6px;
    color: #fff;
  }

  #add_time {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 400px;
    margin: -150px 0 0 -300px;
    z-index: 1000;
    background-color: #fff;
    display: none;
  }
  
  #add_time textarea {
    height: 50px;
  }

  #add_time .delete {
      display: block;
      margin: 10px 85px;
  } 
   
  
  #add_time_overlay {
    /* No old MSIE support yet */
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    opacity: 0.5;
    background-color: #333;
    display: none;
  }

</style>

{% endblock %}
