{% load md2 %}
<html>

<head>
<title>Invoice: {{ invoice.description }}</title>
</head>

<body>
	
<style>
body {
	text-align: left;
}
div#wrap {
	width: 800px;
	margin: 1em auto;

}
table {
	width: 100%;
}
table th, table td {
	border-bottom: 1px solid #CCC;
	text-align: left;
}
table td.spacer,
table tr.bottom th,
table tr.bottom td {
	border-bottom: none;
}
.spacer {
	height: 4em;
}
li {
	margin-bottom: 1em;
}
</style>

<div id="wrap">

<h1>GST Invoice &mdash; {{ invoice.description }}</h1>

{% ifnotequal type "pdf" %}
<a href="{{ invoice.pdf_filename }}">Download as pdf</a>
{% endifnotequal %}
<hr>

<table border="0" cellpadding="5" cellspacing="0">

	<tr>
		<th colspan="2">Invoice to:</th>
		<th>Invoice from:</th>
		<th>{% block name %}NAME{% endblock %}</th>
	</tr>
	<tr>
		<td rowspan="3" colspan="2" valign="top">
			{{ invoice.client }}<br>
			{{ invoice.address|markdown2 }}
		</td>
		<th>GST Number:</th>
		<th>{% block gst_number %}GST NUMBER{% endblock %}</th>
	</tr>
	<tr>
		<th>Invoice date:</th>
		<th>{{ invoice.creation_date|date:"d/m/Y" }}</th>
	</tr>
	<tr>
		<th>Invoice number:</th>
		<th>{{ invoice.id }}</th>
	</tr>
	
	<tr><td class="spacer" colspan="4"></td></tr>

	<tr>
		<th>Detail</th>
		<th>Quantity</th>
		<th>Price per unit.</th>
		<th>Cost</th>
	</tr>
	
	{% for row in invoice.invoicerow_set.all %}
	<tr>
		<td>{{ row.detail }}</td>
		<td>{{ row.quantity }}</td>
		<td>${{ row.price }}</td>
		<td>${{ row.amount }}</td>
	</tr>
	{% endfor %}
	
	<tr class="bottom">
		<td colspan="2" rowspan="4">&nbsp;</td>
		<td class="spacer" colspan="2"></td>
	</tr>

	<tr>
		<td>Subtotal:</td>
		<td>${{ invoice.subtotal }}</td>
	</tr>
	<tr>
		<td>GST:</td>
		<td>${{ invoice.gst_amount }}</td>
	</tr>
	<tr class="bottom">
		<th>TOTAL:</th>
		<th>${{ invoice.total }}</th>
	</tr>
	
</table>

<hr>
<br><br>

<h3>Payment options</h3>
{% block payment_details %}PAYMENT DETAILS{% endblock %}


</div>

</body>
</html>
